header {
    color: white;
    background: darkorange;
    padding: 10px;
    width: 350px;
    margin: 20px;

}

.instructions {
    color: green;
    background: peachpuff;
    padding: 10px;
    margin: 20px;
    width: 500px;

}

