header {
    color: white;
    background: darkorange;
    padding: 10px;
    width: 350px;
    margin: 20px;

}

.instructions {
    color: green;
    background: peachpuff;
    padding: 10px;
    margin: 20px;
    width: 500px;
}

#randomTotal {
    background: palegreen;
    color: purple;
    padding: 10px;
    margin: 0px 20px 20px 5px;
    width: 240px;
    height: 120px;
    font-size: 55px;
    border: 5px dashed orange;
    text-align: center;
    float:left;
}

.winsLossesTotal {
    background: lightblue;
    color: green;
    padding: 20px;
    margin: 0px 20px 20px 0px;
    width: 240px;
    height: 120px;
    text-align: center;
    float: left;
    font-size: 25px;
}

.total {
    background: teal;
    color: white;
    padding: 20px;
    margin: 20px;
    text-align: left;
    height: 75px;
    width: 240px;
    font-size: 21px;
}

p {
    margin-bottom: 0px;
}